body
{
    background-color: aliceblue;
}

#results
{
    background-color: #fff;
}
.news
{
    display: flex;
    gap: 20px;
}

.news img
{
    width: 200px;
    height: 200px;
}


#navbar
{
    display: flex;
    justify-content: space-evenly;
}

#detailed_news
{
    width: 60%;
    margin: auto;
}
#detailed_news img
{
    width: 100%;
    height: 500px;
}

